* {
  font-family: Verdana;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #526da2;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

button {
  height: 50px;
  width: 90px;
  color: ivory;
  font-weight: bold;
  background-color: cadetBlue;
  border-top: 10px solid purple;
  border-right: 10px solid indigo;
  border-bottom: 10px solid violet;
  border-left: 10px solid slateblue;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darkCyan;
}